@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: aliceblue">Welcome To Event Ease</h1>

    <style>
        body {
            background: linear-gradient(to bottom, #8ee307, #00cffd);
            height: 100vh;
            margin: 0;
        }
    </style>

    <p class="lead" style="color: aliceblue">The best place to plan your events</p>
    <br />
    <br />
    <p style="color: aliceblue">Please select which page you wish to go to: </p>
    <br />
    <br />

    <a href="/Events/Index" class="btn" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);"> Events</a>
    
    <a href="/Venue/Index" class="btn" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);"> Venues</a>

    <a href="/Bookings/Index" class="btn" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);"> Bookings</a>
    
</div>
