@model EventEase.Models.Venue

@{
    ViewData["Title"] = "EditVenue";
}

<style>
    body {
    background: linear-gradient(to bottom, #8ee307, #00cffd);
    height: 100vh;
    margin: 0;
    }
</style>

<h1>Edit Venue</h1>

<h4>Venue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditVenue" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="venueId" />
            <div class="form-group">
                <label asp-for="venueName" class="control-label"></label>
                <input asp-for="venueName" class="form-control" />
                <span asp-validation-for="venueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label"></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="capacity" class="control-label"></label>
                <input asp-for="capacity" class="form-control" />
                <span asp-validation-for="capacity" class="text-danger"></span>
            </div>

            @if (!string.IsNullOrEmpty(Model.Imageurl))
            {
                <div class="form-group">
                    <label>Current Image</label><br />
                    <img src="@Model.Imageurl" alt="Venue Image" width="150" height="150" style="object-fit: cover; border-radius: 8px;"/>
                </div>
            }

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="background-color: rgb(65, 132, 225); color: rgb(0, 229, 255);">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
